* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.w3-card-4 {
    height: 500px;
    width: 600px;
    display: flex;
    border: 2px solid grey;
    border-radius: 0px 0px 20px 20px;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 10px;
    background-color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cardImage {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 598px;
    z-index: 1;
}

.cidade {
    width: inherit;
    height: inherit;
    position: absolute;
    z-index: -1;
}

.nameCity {
    position: relative;
    top: 350px;
    left: 50px;
    color: white;
    font-size: 24px;
}

.cardClima {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icone {
    width: 60px;
    height: 60px;
}

.text {
    color: rgb(120, 120, 250);
}

.w3-row {
    display: flex;
    justify-content: space-evenly;
}